<div class="modal fade addModuleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Add Module</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <p (click)="addTextModule(gE)"><span class="glyphicon glyphicon-text-width"></span><br>Text</p>
                    </div>
                    <div class="col-md-3">
                        <p (click)="addImageModule(gE)"><span class="glyphicon glyphicon-picture"></span><br>Image</p>
                    </div>
                    <div class="col-md-3">
                        <p (click)="addBarGraphModule(gE)"><span class="glyphicon glyphicon-tasks"></span><br>Bar Graph</p>
                    </div>
                    <div class="col-md-3">
                        <p (click)="addSocialMediaModule(gE)"><span class="glyphicon glyphicon-user"></span><br>Social Media</p>
                    </div>
                    <div class="col-md-3">
                        <p (click)="addTagModule(gE)"><span class="glyphicon glyphicon-barcode"></span><br>Tags</p>
                    </div>
                    <div class="col-md-3">
                        <p (click)="addEmailModule(gE)"><span class="glyphicon glyphicon-envelope"></span><br>Email</p>
                    </div>
                    <div class="col-md-3">
                        <p (click)="addScaleChartModule(gE)"><span class="glyphicon glyphicon-th-list"></span><br>Scale Chart</p>
                    </div>
                    <div class="col-md-3">
                        <p (click)="addPieChartModule(gE)"><span class="glyphicon glyphicon-record"></span><br>Pie Chart</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
